extends layout

block content
  div(class=['alert','flat','tip'])
    p(class='title') 说明
    p #{description}

  table(class='link')
     thead
         tr 
            th 原始点云
            th Ply文件
            th Drc文件(Draco)  
     tbody
         tr
            td 
              a(href='main/listPcdFiles',target='_blank') 点云文件列表[ Pcd ]
            td 
              a(href='main/listPlyFiles',target='_blank') 点云文件列表[ Ply ]
            td 
              a(href='main/listDrcFiles',target='_blank') Drc文件列表[ Drc ]     

         tr
            td 
              a(href='main/loadPcdText?pcd=000010.pcd',target='_blank') 点云文件获取[ 文本 ]
            td 
              a(href='main/convertPlyFiles',target='_blank') Pcd转化为Ply文件
            td
              a(href='main/convertDrcFiles',target='_blank') Pcd转化为Drc文件

         tr 
            td
            td
               a(href='main/loadPly?ply=000010.ply',target='_blank') 点云文件获取[ Ply ] 
            td
               a(href='main/loadDrc?drc=000010.drc',target='_blank') 点云文件获取 [Drc ]

         tr 
           td 
               a(href='main/loadPcdBinary?pcd=000010.pcd',target='_blank') 点云文件获取[ 文本=&gt;Protobuf ]
           td 
           td 
               a(href='main/loadDrcBinary?drc=000010.drc',target='_blank') 点云文件获取[ drc=&gt;Protobuf ]
                  
                    
                        