extends layout

block content
  div(class=['alert','flat','tip'])
    p(class='title') 说明
    p #{description}

  ul(class='link') 
     li 
        a(href='pcds/listPcdFiles',target='_blank') 点云文件列表[Pcd]
     li 
        a(href='pcds/convertDrcFiles',target='_blank') Pcd转化为Drc文件
     li 
        a(href='pcds/listDrcFiles',target='_blank') Drc文件列表[Draco]     
     li 
        a(href='pcds/loadPcdBinary?pcd=000010.pcd',target='_blank') 点云加载[文本]
     li 
        a(href='pcds/loadDrcBinary?pcd=000010.drc',target='_blank') 点云加载[Draco]   